<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if current_user != @user %>
  <%= link_to 'Invite to friendship', addfriend_path(user_id: current_user, friend_id: @user.id, status: 0), method: :put, data: { confirm: "Do you want to add #{@user.name} as friend?" } %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
